@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "sans-serif";
}

body {
  min-height: 100vh;
  background-color: white;
}

.image-container {
  width: 100%;
  height: 1250px;
  background: url('./assets/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 200px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100; 
}

.logo {
  font-size: 32px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

.navbar a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
  transition: .3s;
}

.navbar a:hover::before {
  width: 100%;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  margin-top: -200px;
}

.main-title {
  font-size: 36px;
}

.description {
  font-size: 18px;
}

.form-background {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
  max-width: 700px;
  margin: 0 auto;
  top: 723px;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.form-container {
  width: 650px;
  margin: 0 auto;
  text-align: center;
}

.form-title {
  background-color: #d0021b;
  height: 50px;
  padding-top: 5px;
  color: #fff; /* Warna teks putih */
  margin-bottom: 20px; 
}

h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

form {
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  padding: 20px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  color: black;
  padding: 45px;
  bottom: 0;
}

.contact-info {
  padding-left: 200px;
  padding-top: 30px;
  color: black;
}

.social-media {
  padding-top: 25px;
  padding-right: 200px;
}

.social-media ul {
  list-style: none;
  display: flex;
}

.social-media ul li {
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
}

.social-media ul li a {
  text-decoration: none;
  color: black;
}

.social-media ul li a:hover {
  text-decoration: underline;
}

.dark-mode {
  background-color: #292929;
  color: #fff;
  color: rgb(113, 113, 113)
}

.dark-mode .form-background {
  background-color: #161616;
  color: #fff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}

.dark-mode.image-container {
  background-image: none;
}

.dark-mode .footer-content {
  background-color: #1c1c1c;
  color: #fff;
}

.dark-mode .contact-info {
  color: white;
}

.dark-mode .social-media ul li a {
  text-decoration: none;
  color: white;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: black;
  background-color: #f6f6f6;
  padding-bottom: 30px;
}

.dark-mode .copyright {
  color:white;
  background-color: #1c1c1c;
}


.dark-mode-logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-image: url('./assets/light_mode/dark-mode-icon.png');
  border-radius: 10%;
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
}

.dark-mode .dark-mode-logo {
  content: url('./assets/dark_mode/light-mode-icon.png');
  border-radius: 10%;
}

html {
  scroll-behavior: smooth;
}

.contact-info p a {
  color: black;
  text-decoration: none;
}

.dark-mode .contact-info p a {
  color: #fff;
}

.dark-mode .contact-info p a:hover {
  text-decoration: none;
}

.dark-mode #github-logo img {
  content: url('./assets/dark_mode/github-logo.png');
}

textarea#lokasi {
  height: 80px;
}